cycler==0.10.0
Cython~=0.29.33
dill==0.3.6
jupyterlab==2.2.4
kiwisolver==1.2.0
matplotlib~=3.6.3
numpy~=1.23.5
pandas~=1.5.2
pathos>=0.3
pylatex==1.4.1
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML~=6.0
scipy~=1.10.0
schematics==2.1.1
seaborn~=0.12.2
setuptools==68.2.0
six==1.15.0
tqdm~=4.64.1
xmltodict==0.12.0
gymnasium==0.29.1
torch==2.0.1
wandb==0.15.10